<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stuxx.dao.PermissionDao">

    <resultMap type="cn.stuxx.model.entity.Permission" id="PermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="moduleId" column="module_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PermissionMap">
        select id,
               code,
               name,
               module_id
        from permission
        where id = #{id}
    </select>
    <select id="selectIDByCode" resultType="Long">
        select id
        from permission
        where code = #{code}
    </select>
    <!--查询指定行数据-->
    <select id="queryAll" resultMap="PermissionMap">
        select
        id, code, name, module_id
        from permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="moduleId != null">
                and module_id = #{moduleId}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="moduleId != null">
                and module_id = #{moduleId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into permission(code, name, module_id)
        values (#{code}, #{name}, #{moduleId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into permission(code, name, module_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.name}, #{entity.moduleId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into permission(code, name, module_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.name}, #{entity.moduleId})
        </foreach>
        on duplicate key update
        code = values(code),
        name = values(name),
        module_id = values(module_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update permission
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="moduleId != null">
                module_id = #{moduleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from permission
        where id = #{id}
    </delete>

</mapper>
