<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stuxx.dao.TaskNotifyDao">

    <resultMap type="cn.stuxx.model.entity.TaskNotify" id="TaskNotifyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="uId" column="u_id" jdbcType="INTEGER"/>
        <result property="receiveCode" column="receive_code" jdbcType="VARCHAR"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
        <result property="atList" column="at_list" jdbcType="VARCHAR" typeHandler="cn.stuxx.config.mybatis.StringListTypeHandler"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="isTiming" column="is_timing" jdbcType="INTEGER"/>
    </resultMap>
    <!--一种动态的insert语句-->
    <sql id="TaskNotifyInfoColumns">
        <trim suffixOverrides=",">
            <if test="taskId != null and taskId != ''">
                task_id,
            </if>
            <if test="uId != null">
                u_id,
            </if>
            <if test="receiveCode != null and receiveCode != ''">
                receive_code,
            </if>
            <if test="msg != null and msg != ''">
                msg,
            </if>
            <if test="atList != null">
                at_list,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="isTiming != null">
                is_timing
            </if>
        </trim>
    </sql>

    <sql id="TaskNotifyInfoValues">
        <trim suffixOverrides=",">
            <if test="taskId != null and taskId != ''">
                #{taskId},
            </if>
            <if test="uId != null">
                #{uId},
            </if>
            <if test="receiveCode != null and receiveCode != ''">
                #{receiveCode},
            </if>
            <if test="msg != null and msg != ''">
                #{msg},
            </if>
            <if test="atList != null">
                #{atList},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="isTiming != null">
                #{isTiming}
            </if>
        </trim>
    </sql>
    <!--查询单个-->
    <select id="queryById" resultMap="TaskNotifyMap">
        select id,
               task_id,
               u_id,
               receive_code,
               msg,
               at_list,
               type,
               is_timing
        from task_notify
        where id = #{id}
    </select>

    <!--查询定时任务-->
    <select id="selectTimingTaskById" resultMap="TaskNotifyMap">
        select id,
               task_id,
               u_id,
               receive_code,
               msg,
               at_list,
               type,
               is_timing
        from task_notify
        where task_id = #{taskId} AND is_timing = 1
    </select>
    <!--查询指定行数据-->
    <select id="queryAll" resultMap="TaskNotifyMap">
        select
        id, task_id, u_id, receive_code, msg, at_list, type, is_timing
        from task_notify
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="receiveCode != null and receiveCode != ''">
                and receive_code = #{receiveCode}
            </if>
            <if test="msg != null and msg != ''">
                and msg = #{msg}
            </if>
            <if test="atList != null">
                and at_list = #{atList}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="isTiming != null">
                and is_timing = #{isTiming}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from task_notify
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>
            <if test="uId != null">
                and u_id = #{uId}
            </if>
            <if test="receiveCode != null and receiveCode != ''">
                and receive_code = #{receiveCode}
            </if>
            <if test="msg != null and msg != ''">
                and msg = #{msg}
            </if>
            <if test="atList != null">
                and at_list = #{atList}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="isTiming != null">
                and is_timing = #{isTiming}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into task_notify(task_id, u_id, receive_code, msg, at_list, type, is_timing)
        values (#{taskId}, #{uId}, #{receiveCode}, #{msg}, #{atList}, #{type}, #{isTiming})
    </insert>

    <!--新增非空列-->
    <insert id="insertOnDefault" keyProperty="id" useGeneratedKeys="true">
        insert into task_notify(<include refid="TaskNotifyInfoColumns"/>)
        values(<include refid="TaskNotifyInfoValues"/>)
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into task_notify(task_id, u_id, receive_code, msg, at_list, type, is_timing)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.taskId}, #{entity.uId}, #{entity.receiveCode}, #{entity.msg}, #{entity.atList}, #{entity.type},
            #{entity.isTiming})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into task_notify(task_id, u_id, receive_code, msg, at_list, type, is_timing)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.taskId}, #{entity.uId}, #{entity.receiveCode}, #{entity.msg}, #{entity.atList}, #{entity.type},
            #{entity.isTiming})
        </foreach>
        on duplicate key update
        task_id = values(task_id),
        u_id = values(u_id),
        receive_code = values(receive_code),
        msg = values(msg),
        at_list = values(at_list),
        type = values(type),
        is_timing = values(is_timing)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update task_notify
        <set>
            <if test="taskId != null and taskId != ''">
                task_id = #{taskId},
            </if>
            <if test="uId != null">
                u_id = #{uId},
            </if>
            <if test="receiveCode != null and receiveCode != ''">
                receive_code = #{receiveCode},
            </if>
            <if test="msg != null and msg != ''">
                msg = #{msg},
            </if>
            <if test="atList != null">
                at_list = #{atList},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="isTiming != null">
                is_timing = #{isTiming},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from task_notify
        where id = #{id}
    </delete>

</mapper>
